<!DOCTYPE HTML>
<html>
	<head>
		<title>Classtr</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2>
				<strong>Classtr</strong>
				<br>
				<a>The smartest way to plan your semester.</a></h2>
				<p>A Trayus Technologies product</p>
				
				
				
				<!--
					CLICKY BUTTONS GO HERE!
				-->				
				
				<ul class="actions">
					<li><a href="#" class="button special">button</a></li>
				</ul>
			</section>


		<!-- Viz -->
		<section id="classtrapp">
		<!-- <script src="./treed3_index.ejs"> -->
		<script>

		// Get JSON data
		classtrapp = d3.json("./flare.json", function(error, treeData) {
		var classtrapp = jsnx.Graph();

		G3.add_nodes_from([1,2,3,4,5,6,7,8,9], {group:0});
		G3.add_nodes_from([10,11,12,13,14,15,16,17,18], {group:1});
		G3.add_nodes_from([19,20], {group:2});

		G3.add_path([1,2,3,4,5,6,7,8,9,1]);
		G3.add_edges_from([[1,10],[2,11],[3,12],[4,13],[5,14],[6,15],[7,16],[8,17],[9,18]]);
		G3.add_edges_from([[10,11],[11,12],[13,14],[14,15],[16,17],[17,18]]);
		G3.add_edges_from([[9,19],[12,19],[15,19],[11,20],[14,20],[17,20]]);

		var color = d3.scale.category20();
		jsnx.draw(G3, {
		element: '#classtrapp',
    	layout_attr: {
        charge: -120,
        linkDistance: 20
    	},
    		node_attr: {
        	r: 5,
        	title: function(d) { return d.label;}
    	},
    	node_style: {
        	fill: function(d) { 
            	return color(d.data.group); 
        	},
        	stroke: 'none'
    	},
    	edge_style: {
        	stroke: '#999'
    			}
			}, true);
		});

		</script>
		</section>
		
		<!-- Test breaklines -->
		<


		
		<!-- Spacer -->






		<!-- Bottom -->
			<section id="two" class="wrapper style2 special">
				<div class="inner narrow">
					<header>
						<h2>Feedback?</h2>
					</header>
					<form class="grid-form" method="post" action="#">
						<div class="form-control narrow">
							<label for="name">Name</label>
							<input name="name" id="name" type="text">
						</div>
						<div class="form-control narrow">
							<label for="email">Email</label>
							<input name="email" id="email" type="email">
						</div>
						<div class="form-control">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="4"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" type="submit"></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Classtr Design: <a href="http://templated.co/">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			
			<!-- d3.js API -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" ></script>
			
			<!--jQuery implementation -->
			<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
						
	</body>
</html>